* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: url(../img/natural-default-pattern.png);
}

header {
  width: 700px;
  margin: auto;
  margin-top: 15px;
}

.jumbotron {
  background-image: url(../img/natural-default-header.jpg);
  height: 300px;
  background-size: cover;
  border: 8px solid white;
  text-align: center;
  position: relative;
}

.natural_logo {
  position: absolute;
  max-width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.claim {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 10%;
  text-transform: uppercase;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
}

nav {
  width: 100%;
  height: 30px;
  background-color: grey;
  text-align: center;
}

.navlist {
  list-style-type: none;
}

.navlist a {
  text-decoration: none;
  color: white;
  font-family: arial, helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.7em;
}

.navlist li {
  display: inline-block;
  margin-top: 5px;
  margin-left: 4px;
}

main {
  width: 700px;
  margin: auto;
  text-align: center;
}

.left {
  margin-top: 10px;
  width: 130px;
  background-color: white;
  position: relative;
  border-radius: 4px;
}

.rss_icon {
  color: orange;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.2em;
}

.left h3 {
  margin-top: 3px;
  font-family: arial, helvetica, sans-serif;
  font-weight: lighter;
}

.left a {
  display: block;
  text-decoration: none;
  margin: 5px;
  color: green;
  font-family: arial, helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  text-align: left;
}

.center {
  margin-top: 10px;
  width: 400px;
  background-color: white;
  display: inline-block;
  border-radius: 4px;
}

.center h2 {
  text-align: left;
  margin: 15px;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  font-family: arial, helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
}

.center p {
  text-align: left;
  margin: 15px;
  font-family: arial, helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.85em;
  line-height: 1.6em;
}

.right {
  margin-top: 10px;
  width: 130px;
}

.textwidget {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.textwidget h3 {
  font-family: arial, helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.0em;
  text-align: left;
  padding: 12px;
}

.textwidget p {
  font-family: arial, helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  text-align: left;
  padding: 12px;
  line-height: 1.6em;
  margin-bottom: 15px;
}

footer {
  width: 700px;
  height: 100px;
  background-color: white;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.credits {
  padding: 2px;
  text-align: center;
  font-family: arial, helvetica, sans-serif;
  font-style: italic;
  color: lightgrey;
  font-size: 0.7em;
  border-bottom: 1px solid black;
}

.fbicon {
  position: absolute;
  left: 15%;
  bottom: 20%;
  font-size: 1.5em;
  color: lightgrey;
  transform: translate(-50%, -50%);
}

.igicon {
  position: absolute;
  left: 50%;
  bottom: 20%;
  font-size: 1.5em;
  color: lightgrey;
  transform: translate(-50%, -50%);
}

.ghicon {
  position: absolute;
  right: 15%;
  bottom: 20%;
  font-size: 1.5em;
  color: lightgrey;
  transform: translate(-50%, -50%);
}
