* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: url(../img/natural-default-pattern.png);
}

header {
  width: 700px;
  margin: auto;
  margin-top: 15px;
}

.jumbotron {
  background-image: url(../img/natural-default-header.jpg);
  height: 300px;
  background-size: cover;
  border: 8px solid white;
  text-align: center;
  position: relative;
}

.natural_logo {
  position: absolute;
  max-width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.claim {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 10%;
  text-transform: uppercase;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
}

nav {
  width: 100%;
  height: 30px;
  background-color: grey;
  text-align: center;
}

.navlist{
  list-style-type: none;

}

.navlist a {
  text-decoration: none;
  color: white;
  font-family: arial, helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.7em;
}

.navlist li {
  display: inline-block;
  margin-top: 5px;
  margin-left: 4px;
}

main {
  width: 700px;
  min-height: 900px;
  margin: auto;
  text-align: center;
}

.left {
  width: 130px;
  background-color: white;
  position: relative;
}

.rss_icon {
  color: orange;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.2em;
}

.left h3 {
  margin-top: 3px;
  font-family: arial, helvetica, sans-serif;
  font-weight: lighter;
}

.left a {
  display: block;
  text-decoration: none;
  margin: 5px;
  color: green;
  font-family: arial, helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  text-align: left;
}

.right {
  width: 130px;
  height: 700px;
  background-color: white;
}

.center {
  width: 400px;
  height: 250px;
  background-color: white;
  display: inline-block;
  margin: auto;
}

footer {
  width: 700px;
  height: 100px;
  background-color: white;
  margin: auto;
}
